<h1>MyColor List</h1>
<%# パレットリスト一覧を表示する %>
<div class="color-list">
    <% @likes.each do |like| %>
        <div>
            <div style="width: 100px; height: 100px; background-color:#<%= like.color_code %>;"></div>
            <div>
                <%= link_to like.color_name, color_path(like.color_id) %>
            </div>
        </div>
    <% end %>
</div>