// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart{
    width: 600px;
    height: 300px;
    margin: 15px auto;
    display:flex;
    .color-pallete{
        width: 120px;
        height: 300px;
    }
}

.color-list{
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        margin: 0 auto;
        
        .color-item{
            width: 100px;
        }
    }
