// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    text-align: center;
    background-color: #F6F8FA;
}

#chart{
        width: 600px;
        height: 300px;
        margin: 1% auto;
        display:flex;
    }

.color-list{
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        margin: 0 auto;
        
        .color-item{
            width: 200px;
        }
    }

