// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mycolor-list{
	width: 1000px;
	margin: 0 auto;
	.mycolor-item{
		margin: 0;
		.mycolor-thumbnail{
			position: relative;
			width: 100px;
			height: 100px;
			.mycolor-select{
				a{
					width: 100px;
					height: 100px;
					display: inline-block;
				}
			}
			.like-del{
				position: absolute;
				top: 0;
				right: 0;
				width: 30px;
				height: 30px;
				a{
					font-size: 30px;
					margin: 0;
					padding: 0;
					line-height: 1.5rem;
					color: #24292E;
				}
			}
		}
		.mycolor-name{
			width: 100px;
			height: 50px;
			font-size: 12px;
		}
	}
}